body {
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.container {
    background: white;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    text-align: center;
}

input {
    padding: 8px;
    margin: 10px 0;
    width: calc(100% - 16px);
}

.label-nota {
    padding: 20px;
    border-radius: 8px;
    color: white;
    font-size: 2em;
    font-weight: bold;
    transition: background-color 0.3s;
    background-color: #ccc; /* Cor padrão */
}